body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h2 {
    color: lime;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

tr:hover {
    background-color: #f1f1f1;
}

button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.name-input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s;
}
input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input:focus,
textarea:focus {
    border-color: #007BFF;
    outline: none;
}

.rounded-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.rounded-table th,
.rounded-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.rounded-table th:first-child,
.rounded-table td:first-child {
    border-left: none;
}

.rounded-table th:last-child,
.rounded-table td:last-child {
    border-right: none;
}

.rounded-table th:first-child {
    border-top-left-radius: 10px;
}

.rounded-table th:last-child {
    border-top-right-radius: 10px;
}

.rounded-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.rounded-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.custom-list {
    list-style-type: none;
}